html {
    box-sizing: border-box;
}

/** {box-sizing: border-box;}*/

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', sans-serif;
}


}
.section{
    padding: 10px;
    float: right;
}
.header-img{
    align-self: flex-start;
}
.h2{
    padding: 0;
    margin: 80%;

}
.nav-links {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin-left: 0;
}
nav ul li.nth-child(1){
    maargin-left: auto;
    justify-content: space-evenly;
}

